{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container textcolor">
    <div class="row">
        <section class="page-section about-heading">
            <div class="col-xl-5 col-lg-6 col-md-8 mt-3 offset-md-4 mx-auto">
                <div class="bg-faded rounded p-3">
                    <div class="text-center">
                        <h3 class="section-heading mb-4">{% trans "Verify Your E-mail Address" %}</h3>

                        {% url 'account_email' as email_url %}

                        <p>{% blocktrans %}This part of the site requires us to verify that
                            you are who you claim to be. For this purpose, we require that you
                            verify ownership of your e-mail address. {% endblocktrans %}</p>

                        <p>{% blocktrans %}We have sent an e-mail to you for
                            verification. Please click on the link inside that e-mail. If you do not see the
                            verification e-mail in your main inbox, check your spam folder. Otherwise
                            contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                        <p>{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your
                                e-mail address</a>.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}