/* .btn-submit {
    background-color: #23bb67;
    color: #fff;
}

.btn-submit:hover,
.btn-submit:active {
    background-color: #fff;
    color: #23bb67;
} */

.liststyle {
    list-style: none;
}

.navbar-toggler { 
    border: none;
}

/* Form */
.enquiry_form {
    margin: auto;
    max-width: 400px;
    padding: 30px;
}

.enquire-button {
    margin-top: 20px;
    border-radius: 6px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #252525;
    color: #fafafa;
}

.enquire-button:hover {
    background-color: #616161;
    color: #252525;
}
