{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="keywords" content="restaurant, eatery, food, drink, dining, party, function, lunch, dinner, breakfast, hungry, gourmet, menu">
    <meta name="description" content="Herb's Restaurant Web Site" />
    <meta name="author" content="Joao Paulo Rodrigues" />

    <title>Herb's Restaurant</title>

    <link rel="icon" type="image/x-icon" href="{% static 'img/food_icon.ico' %}" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap Business Casual CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bus-casual-styles.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>

<body>
    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <a class="navbar-brand" href="{% url 'index' %}">
                <span class="site-heading-upper text-primary mb-3">Savour the Moments</span>
                <span class="site-heading-lower">Herb's Restaurant</span>
            </a>
        </h1>
    </header>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand text-uppercase fw-bold  d-lg-none" href="{% url 'index' %}">Herb's Restaurant</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'menu' %}">Menu</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'booking' %}">Bookings</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link px-lg-4" href="{% url 'account_logout' %}">LOGOUT</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link px-lg-4" href="{% url 'account_login' %}">LOGIN</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <div class="row">
                <p class="m-0 text-center text-white">Follow us:
                    <a href="https://www.facebook.com" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new tab)">
                        <i class="fab fa-facebook">  </i></a>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in a new tab)">
                        <i class="fab fa-twitter">  </i></a>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in a new tab)">
                        <i class="fab fa-instagram">  </i></a>
                </p>
            </div>
            <div class="row">   
                <p></p>
            </div>
            <div class="row">
                <p class="m-0 small">Copyright &copy; Herb's Restaurant 2022</p>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome icons (free version)-->
    <script src="https://kit.fontawesome.com/22fc9c9df2.js" crossorigin="anonymous"></script>
</body>

</html>