{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <section class="page-section about-heading">
            <div class="col-xl-5 col-lg-6 mx-auto">
                <div class="bg-faded rounded p-3">
                    <div class="text-center">
                        <h4 class="section-heading mb-4">Let us know how we can help you</h4>
                    </div>
                    <form class="enquiry-form" method="post">
                        {% csrf_token %}
                        {% if messages %}
                        <ul class="messages">
                            <!-- {% for message in messages %} -->
                            <li class="{{ message.tags }}">{{ message }}</li>
                            <!-- {% endfor %} -->
                        </ul>
                        {% endif %}
                        {{ form.as_p }}
                        <button class="btn btn-submit right enquire-button" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </section>
    </div>
</div>
{%endblock%}