{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- SOUPS & SALADS -->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Blended to Perfection</span>
                                <span class="section-heading-lower">SOUPS & SALADS</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="{% static 'img/pexels-nataliya-vaitkevich-5605543.avif' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">
                                <h3>SOUP</h3>
                                <ul style="list-style: none">
                                    <li>BUTTERNUT SOUP</li>
                                    <li>MINESTRONE SOUP</li>
                                    <li>TOMATO SOUP</li>
                                    <li>CHICKEN NOODLE SOUP</li>
                                    <li>SALMON AND POTATO SOUP</li>
                                </ul>
                                <h3>SALADS</h3>
                                <ul style="list-style: none">
                                    <li>CRANBERRY CHICKEN SALAD</li>
                                    <li>MEDITERRANEAN TUNA SALAD</li>
                                    <li>SALMON AND AVOCADO SALAD</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Main Dish -->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Satisfy that Hunger</span>
                                <span class="section-heading-lower">MAIN DISH</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="{% static 'img/pexels-min-an-1482803.avif' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">
                                <h3>Wood-Fire Oven Roasted</h3>
                                <ul style="list-style: none">
                                    <li>500g T-BONE STEAK</li>
                                    <li>600g LAMB CHOPS</li>
                                    <li>1/4 CHICKEN</li>
                                    <li>1/2 CHICKEN</li>
                                </ul>
                                <h3>Flame grilled</h3>
                                <ul style="list-style: none">
                                    <li>FILLET STEAK 200g</li>
                                    <li>SIRLOIN STEAK 250g</li>
                                    <li>RUMP STEAK 300g</li>
                                    <li>1/4 CHICKEN</li>
                                    <li>1/2 CHICKEN</li>
                                </ul>
                                <h3>SAUCES</h3>
                                <ul style="list-style: none">
                                    <li>Creamy pepper sauce</li>
                                    <li>Creamy mushroom sauce</li>
                                    <li>Creamy garlic sauce</li>
                                    <li>Gorgonzola sauce</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Sides -->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Complete the Meal Your Way</span>
                                <span class="section-heading-lower">Side Dishes</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="{% static 'img/pexels-dana-tentis-1213710.avif' %}" alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">
                                <h3>SIDES</h3>
                                <ul style="list-style: none">
                                    <li>GREEN SALAD</li>
                                    <li>GREEK SALAD</li>
                                    <li>COLESLAW</li>
                                    <li>MASHED POTATO</li>
                                    <li>CHIPS</li>
                                    <li>RICE</li>
                                    <li>PAN-FRIED POTATOES</li>
                                    <li>CREAMED SPINACH</li>
                                    <li>BUTTERNUT</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Burgers and Rolls -->
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Fast food made real good</span>
                                <span class="section-heading-lower">Burgers & Rolls</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                        src="{% static 'img/pexels-daniel-reche-1556698.avif' %}" alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded">
                            <p class="mb-0">
                                <h3>STEAK ROLLS</h3>
                                <ul style="list-style: none">
                                    <li>STEAK ROLL</li>
                                    <li>STEAK & EGG ROLL</li>
                                    <li>STEAK & CHEESE ROLL</li>
                                    <li>STEAK & SALAD ROLL</li>
                                    <li>STEAK ROLL WITH CHIPS</li>
                                </ul>
                                <h3>CHICKEN BURGERS</h3>
                                <ul style="list-style: none">
                                    <li>CHICKEN BURGER</li>
                                    <li>CHICKEN & CHEESE BURGER</li>
                                    <li>CHICKEN BURGER WITH CHIPS</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{%endblock%}