{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <section class="page-section about-heading">
            <div class="col-xl-5 col-lg-6 mx-auto">
                <div class="bg-faded rounded p-3">
                    <div class="text-center">
                        <h4 class="section-heading mb-4">Booking Change Form</h4>
                    </div>
                    <form class="text-center" method="post">
                        {% csrf_token %}
                        {% if some_flag %}
                        <div id="some_flag" title="Some Flag">
                            <p>Table <strong>{{ table_id }}</strong> is already booked.</p>
                        </div>
                        <button class="btn btn-secondary btn-sm" type="submit">Close</button>
                        {% else %}
                        {{ form.as_p }}
                        <button class="btn btn-secondary btn-sm" type="submit">Submit</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock%}